<mat-toolbar>
  <mat-icon style="cursor: pointer;" routerLink="/home">nature_people</mat-icon>
  <span style="margin-left: 8px; cursor: pointer;" routerLink="/home">Weather App</span>
  <span class="example-spacer"></span>

  <button style="padding: 5px" mat-raised-button *ngIf="!user" (click)="register()">Sign up</button>
  <button mat-raised-button style="margin-left: 8px; padding: 5px" *ngIf="!user" (click)="login()">Sign in</button>

  <span *ngIf="user">Logged in as: <strong>{{ user?.email }}</strong> </span>
  <mat-icon *ngIf="user" style="margin: 0 8px">account_circle</mat-icon>
  <button style="padding: 5px" *ngIf="user" mat-raised-button (click)="logout()">Sing out</button>
</mat-toolbar>
